

/* @font-face */ 

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Thin.ttf';
}

@font-face{
    font-family: "SourceSerif";
    src: '../fonts/Source_Serif_Pro/SourceSerifPro-Light.ttf';
}

